<h1>Listagem dos posts</h1>
<%= link_to("Create a Post", :controller => "post" , :action=> "new") %>
<ul>
<% @post.each do |x| %>
<li>
	<b><%=  link_to x.nome , show_post_path(x) %></b> <br/>
	<%= x.conteudo %> 
</li>
<% end %>

</ul>
